torch==2.8.0
numpy==2.3.2
tqdm==4.67.1
transformers==4.56.1
datasets==4.0.0
pyarrow==21.0.0
trl==0.21.0
peft==0.17.1
bitsandbytes==0.47.0
accelerate==1.10.0
mlflow==3.3.2
pydantic==2.11.7
evaluate==0.4.5
rouge-score==0.1.2
nltk==3.9.1
seaborn==0.13.2
pytest
dvc
awscli
dvc-s3
dvc[gdrive]